
<div class="container" >
	
	<h1>Your Profile</h1>

	<% if policy(@user).index? %>
	(
	<%= link_to ">>Trang quản trị", admin_dashboard_index_path %>
	)
	<% end %>

	<div style="min-height: 1000px;"  >

		<div ng-app="newapp">
			
			<input type="text" ng-model="name">
			<p>Xin chao {{name}} !</p>

			<input type="text" ng-model="firstname">
			<p ng-bind="firstname"></p>
			<hr>

			<div ng-init="surname='Robert'">
				<p> hello <span ng-bind="surname"></span></p>
			</div>
			<hr>
			
			<div ng-controller="myController">
				<input type="text" ng-model="yourname">
				<p>xin chao {{yourname}} </p>
			</div>
			<hr>

			<div ng-controller="myController" ng-init="color='blue'">
				<input type="text" style="background: {{color}}" ng-model="color">
			</div>
			<hr>

			<div ng-controller="myController" ng-init="myCol='green'">
				<select style="background: {{myCol}} " ng-model="myCol" val="{{myCol}}">
					<option>green</option>
					<option>red</option>
					<option>blue</option>
				</select>
			</div>
			<hr>

			<div ng-init="a=4; b=2">
				<p ng-bind="a + b">
				<p> {{a + b}} </p>
				</p>
			</div>
			<hr>

			<div ng-init="product={name:'ten san pham', price: 20000}">
				<p>ten sp: <span ng-bind="product.name"></span></p>
				<p>gia: <span ng-bind="product.price"></span></p>
			</div>
			<hr>

			<div ng-init="p=[1,2,3,7,3]">
				<p>p[2]= <span ng-bind="p[2]"></span></p>
				<p>p[3]= <span ng-bind="p[3]"></span></p>
			</div>
			<hr>

			<div test-directive></div>
			1111111111<test-directive></test-directive>11111111
			<div class="test-directive1"></div>
			<!-- directive: w3-test-directive -->
			<hr>

			<div ng-init="names=['Sam', 'Join', 'Helen', 'Ron']">
				<ul>
					<li ng-repeat="x in names"> {{x}} </li>					
				</ul>
			</div>
			<hr>
			

			<!-- use ng-repeat -->
			<div ng-init="customers=[
				{name: 'Sam', country: 'USA'}, 
				{name: 'Helen', country: 'India'}, 
				{name: 'Lam', country: 'vietnam'}, 
				{name: 'Na', country: 'USA'}]">
				<ul>
					<li ng-repeat="a in customers">
						{{a.name}}
					</li>				
				</ul>
			</div>
			<hr>
			<!-- ng-repeat no ng-init -->
			<div ng-controller="testRepeat">
				test repeat:
				<ul ng-model="customers">
					<li ng-repeat="x in customers" >
						{{x.name + " " + x.age}}
					</li>
				</ul>
			</div>
			<hr>



			<!-- invalidate for input Email -->
			<form name="myForm" ng-init="text='example@gmail.com'">
				<input type="email" name="myInput" ng-model="text" required>
				<p ng-show="myForm.myInput.$error.email">Email không khả dụng!</p>
				<p ng-show="myForm.myInput.$valid"> Email valid </p>
				<p ng-show="myForm.myInput.$dirty"> Input có thay đổi bởi ng dùng </p>
				<p ng-show="myForm.myInput.$touched"> touched!</p>
				{{myForm.myInput.$error.email}} (error) <br>
				{{myForm.myInput.$valid}} (valid)
			</form>
			<hr>

			
			<!-- input invalid CSS -->
			input invalid CSS
			<form >
				<input class="angular-css" type="email" value="" ng-model="abc" required>
				pink: default
				red: touched
				yellow: dirty(changed)
				blue: empty
			</form>
			<hr>


			<!-- ng click -->
			ng click
			<div ng-controller="testEventClick">
				<p class="btn btn-default" ng-click="change()" ng-bind="name"></p>
				<small>click chang name(test ng-click)</small>
			</div>
			<hr>


			<!-- ng-controller, ng-model, ng-bind -->
			ng-controller, ng-model, ng-bind
			<div ng-controller="testMulti">
				firstname: <input type="text" ng-model="firstname">
				lastname: <input type="text" ng-model="lastname"><br>
				<p class="btn btn-default" ng-bind="firstname +' ' + lastname"></p>
				<p> {{fullname}} </p>
			</div>
			<hr>

			<!-- scope -->
			scope
			<div ng-controller="scopeCtrl" ng-model="city">
				<p >Welcome to <span ng-bind="city"></span></p>
			</div>
			<hr>

			<!-- rootScope -->
			rootScope
			<div>rootScope.name: {{name}}</div>
			<div ng-controller="testEventClick">
				controller:testEventClick-name:{{name}}
			</div>
			<div>rootScope.name: {{name}}</div>
			<hr>

			<!-- filter -->
			filter
			<div ng-controller="testMulti" ng-model="fullname">
				test angular filter(uppercase)
				<p> {{fullname | uppercase}}</p>
				test angular filter(lowercase)
				<p> {{fullname | lowercase}}</p>
				test angular filter(currentcy)
				<p> {{larary | currency: "": "0"}}đ</p>
				<ul ng-repeat="x in customers | filter: 'i'">
					<li> {{x}} </li>
				</ul>
				<hr>
				
				<!-- <select ng-model="fild" value="fild">
					<option selected>age</option>
					<option>country</option>
				</select> -->
				<input type="text" ng-model="fild">
				<input type="text" ng-model="value1">
				<ul ng-repeat="x in partner | filter: value1">
					<li> {{x.name}} </li>
				</ul>
			</div>
			<hr>


			<!-- search + orderBy-->
			search + orderBy
			<div ng-controller="searchCtrl" ng-model="customers"> 
				all: <input type="text" ng-model="search.$">
				name: <input type="text" ng-model="search.name">
				phone: <input type="text" ng-model="search.phone">
				orderBy: 
				<select ng-model="order">
					<option>name</option>
					<option>phone</option>
				</select>
				<table>
					<thead>
						<tr>
							<td>name</td>
							<td>phone</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cust in customers | filter:search | orderBy: order">
							<td> {{cust.name}} </td>
							<td> {{cust.phone}} </td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>

			<!-- orderBy + ng-click -->
			orderBy + ng-click
			<div ng-controller="searchCtrl">
				<table>
					<thead>
						<tr>
							<form ng-model="direct">
								<td ng-click="orderByMe('name')">
									name
								</td>
								<td ng-click="orderByMe('phone')">
									phone
								</td>
							</form>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cust in customers | orderBy: myOrderBy">
							<td> {{cust.name}} </td>
							<td> {{cust.phone}} </td>
						</tr>
						
					</tbody>
					
				</table>
			</div>
			<hr>

			<!-- myFormat -->
			myFormat
			<div ng-controller="testMulti">
				<ul>
					<li ng-repeat="x in customers"> 
						{{x | myFormat}}
					</li>
				</ul>
			</div>
		
			<!-- capitalize -->
			<div ng-controller="testMulti" ng-init="name1='tran minh lam'" ng-model="name1">
				<p class="capitalize"> {{name1}} </p>
			</div>
			<hr>

			<!-- get Url this page -->
			<div ng-controller="getUrl">
				<p>{{myUrl}}</p>
			</div>
			<hr>

			<!-- timesout function -->
			test time out function
			<div ng-controller="testTimeout" ng-model="header">
				<h2>{{header}}</h2>
			</div>
			<hr>

			<!-- interval time -->
			interval time
			<div ng-controller="intervalTime"> <strong>{{time}}</strong> </div>
			<hr>

			<!-- ng-option -->
			ng-options	
			<div ng-controller="testMulti">
				<select ng-model="selectedCustomers" ng-options="x for x in customers"></select>
			</div>
			<hr>

			<!-- ng disable -->
			ng-disable
			<div ng-init="mySwitch=true">
				<button class="btn btn-primary" ng-disabled="mySwitch"> click here!</button>
				<input type="checkbox" ng-model="mySwitch" >mySwitch<br>
			</div>
			<hr>

			<!-- ng show/hide -->
			<div>
				<input type="checkbox" ng-model="rs">true/false <br>
				<p ng-show="rs">true is show</p>
				<p ng-hide="rs">false is show</p>
			</div>

			<div>
				<input type="number" ng-model="val1" value="0"> >
				<input type="number" ng-model="val2" value="0">

				<p ng-show="val1 > val2">true</p>
				<p ng-hide="val1 > val2">false</p>
			</div>
			<hr>

			<!-- ng mouseOver -->
			mouseOver/mouseLeave by angularJs
			<div>
				<p class="mouseOver btn btn-default" 
					ng-mouseover="backgr = 'red'"
					ng-mouseleave="backgr = 'white'" 
					style="background: {{backgr}};"
				>
					mouseOver here!
				</p>
			</div>
			<hr>

			<!-- toggle true/false -->
			hide/show toggle
			<div ng-controller="showHideToggle">
				<p class="btn btn-primary" ng-click="myFunt()">click here!</p>
				<h2 ng-show="bool">Hello!</h2>
			</div>
			<hr>

			<!-- event object -->
			<div ng-controller="eventMouse">
				<div 
					style="width:160px; height: 90px; background: lightblue;"
					ng-mousemove="eventObject($event)" 
				>
					mouseOver here!
				</div>

				<p> x= {{x}} </p>
				<p> y= {{y}} </p>					
			</div>
			<hr>

			<!-- select show -->
			select show
			<div>
				<select ng-model="nothing" class="col-sm-1 nopadding">
					<option value="A">show A</option>
					<option value="B">show B</option>
					<option value="C">show C</option>
				</select>
				<br>
				kq:
				<p ng-show="nothing == 'A'">A</p>
				<p ng-show="nothing == 'B'">B</p>
				<p ng-show="nothing == 'C'">C</p>

				<div ng-switch="nothing">
					<p ng-switch-when="A">A</p>
					<p ng-switch-when="B">B</p>
					<p ng-switch-when="C">C</p>
				</div>
			</div>
			<hr>

			<!-- reset form -->
			reset form
			<div ng-controller="resetForm">
				name:
				<input type="text" ng-model="user.name" required>
				age:
				<input type="number" ng-model="user.age">
				<button ng-click="resetValue()">reset</button>
				<p>user: {{user}}</p>
				<p>master: {{master}} </p>
			</div>
			<hr>

			<!--  -->





		</div>
	</div>
		
</div>

<style type="text/css">
	
	/* input.angular-css.ng-valid{
		background: pink;
	} */
	input.angular-css.ng-touched{
		background: red;
	}
	/* input.angular-css.ng-dirty{
		background: yellow;
	}
	input.angular-css.ng-empty{
		background: blue;
	} */

	.capitalize {
	   text-transform: capitalize;
	}

</style>

<script type="text/javascript">
	var app = angular.module("newapp", []);

	app.controller("resetForm", function($scope){
		$scope.master={name: "Sam", age: 24}
		$scope.resetValue = function(){
			$scope.user = angular.copy($scope.master)
		}
		$scope.resetValue()
	})

	app.controller("eventMouse", function($scope){
		$scope.eventObject = function(myE){
			$scope.x = myE.clientX
			$scope.y = myE.clientY
		}
	})

	app.controller("showHideToggle", function($scope){
		$scope.bool= false;
		$scope.myFunt = function(){
			$scope.bool = !$scope.bool
		}
	})

	app.controller("intervalTime", function($scope, $interval){
		$scope.time = new Date().toLocaleTimeString()
		$interval(function(){
			$scope.time = new Date().toLocaleTimeString()
		}, 1000)
	})
	app.controller("testTimeout",function($scope, $timeout){
		$scope.header="Hello"
		$timeout(function(){
			$scope.header = "how are you today?"}, 2000)
	})

	app.controller("getUrl", function($scope, $location){
		$scope.myUrl = $location.absUrl();
	})

	app.controller("searchCtrl", function($scope){
		$scope.customers = 
						[{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]

         $scope.orderByMe = function(x) {	        
		        $scope.myOrderBy = x;	        
	    }
	    
	})

	app.run(function($rootScope){
		$rootScope.name = "Robert Sam";
	});

	app.controller("scopeCtrl", function($scope){
		$scope.city="Hue";
	});


	app.filter("myFormat", function() {
		return function(x){
			var i, c, txt= "";
			for (i = 0; i < x.length; i++) {
				c=x[i];
				if (i % 2 == 0) {
					c = c.toUpperCase();
				}
				txt += c;
			}
			return txt;
		}
	});

	app.controller("testMulti", function($scope){
		$scope.firstname = "Lam";
		$scope.lastname = "Tran Minh"
		$scope.fullname = $scope.firstname + " " + $scope.lastname
		$scope.larary = 5000000
		$scope.customers = ["Jani","Carl","Margareth","Hege","Joe","Gustav","Birgit","Mary","Kai"]
		

		$scope.partner =[
				{name: 'Sam', country: 'USA', age: 20}, 
				{name: 'Helen', country: 'India', age: 27}, 
				{name: 'Lam', country: 'vietnam', age: 20}, 
				{name: 'Na', country: 'USA', age: 25}]
	})

	app.controller("testEventClick", function($scope){
		$scope.name = "Tran Minh Lam";
		$scope.change = function(){
			$scope.name = "Robert Sam";
		};
	});
	app.controller("myController", function($scope){
		$scope.yourname="Robert Sam";

	});

	app.controller("testRepeat", function($scope){
		$scope.customers=[
			{name: "Lam", age: 24},
			{name:"Sam", age: 25}
		];
	});

	app.directive("testDirective", function(){
		return{

			template : "I only test directive!"
		};
	});

	app.directive("testDirective1", function(){
		return{
			restrict: "C",
			template : "test directive in class"
		};
	});

	app.directive("w3TestDirective", function() {
	    return {
	        restrict : "M", // E for Element name, A for Attribute, C for Class, M for Comment
	        replace : true,
	        template : "<h1>Made by a directive!</h1>"
	    };
	});

</script>






