
<div class="modal-header" ng-app="">
	<div class="close" data-dismiss="modal">x</div>

	<h4 class="modal-title">
		<strong>Giỏ hàng của bạn <small>(<%= session["cart"].nil? ? "0":session["cart"].count %> sản phẩm)</small></strong>
	</h4>
</div>
<div class="modal-body  nopadding">
	<div class="well noborder noborder-radius nopadding">
		<div class="col-md-6">SẢN PHẨM</div>
		<div class="col-md-2">ĐƠN GIÁ</div>
		<div class="col-md-2 text-center">SỐ LƯỢNG</div>
		<div class="col-md-2 text-right">THÀNH TIỀN</div>
	</div>
	<div id="cart_content1">		
		<% unless session["cart"].nil?
			lager_total = 0
			session["cart"].each do |x| 
				product = find_prod_info(x['id'] || x[:id])
		%>

			<div class="">
				<div class="col-md-6">
					<div class="media">
						<div class="media-left">
							<%= image_tag product.images_url, :class => "media-object", size:"70" %>			
						</div>
						<div class="media-body">
							<%= link_to product_path(product) do %>
								<h4 class="media-heading"><%= product.name %></h4>			
							<%end%>

							<div id="<%= product.id %>" class="del_prod_ajax btn btn-default noborder nopadding">
								<span class="close pull-left" style="line-height: 6px; font-size: 12px; border: 0.5px solid black; margin: 6px 6px 2px 2px;">x</span>Bỏ sản phẩm
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
						<% unless product.sale_off_type == "(none)" %>
						<del class="text-muted"><%= money_format(product.price) %></del><br>
						<%end%>
						
						<% price_now_integer = price_now_integer(product.price, product.sale_off, product.sale_off_type) %>
						<strong><%= money_format(price_now_integer) %></strong>

						<% unless product.sale_off_type == "(none)" %>
						<p class="text-danger">Giảm <%= product.sale_off.to_s + product.sale_off_type.to_s %></p>
						<%end%>
				</div>
				<div class="col-md-2 text-center">		
					<%= select_tag "quantity", options_for_select((1..25).to_a, :selected =>(x["quantity"].to_i + x[:quantity].to_i) ), :class => "form-control nopadding select_ajax", :id => product.id %>
				</div>
				<div class="col-md-2 text-right">
					<% total = (x['quantity'] || x[:quantity]) * price_now_integer %>
					<%= hidden_field_tag "",value= "#{total}", :class => "total_hidden" %>
					<strong class="text-danger"><%= money_format( total ) %></strong>
				</div>
			</div>
			<div class="clearfix"></div>
		<%		
				lager_total += total
			end
		end
		%>
	</div>
</div>
<div class="clearfix"></div>
<div class="pull-right">
	<strong class="text-muted">Thành tiền:</strong> <span class="text-danger h3"><%= money_format(lager_total) %></span>
</div>

