<div class="container">
  <h2 class="col-sm-offset-3">Login</h2>
    
    <%= form_for(resource, as: resource_name, html: {class: "form-horizontal"}, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "control-label col-sm-4" %>
      
          <div class="col-sm-3">
            <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
          </div>
       
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label col-sm-4" %>
       
          <div class="col-sm-3"> 
            <%= f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off" %>
          </div>
        
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>            
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <%= f.submit "Log in", class: "btn btn-default" %>
          </div>
        </div>
      </form>
    <% end %>
  <% end %>
  <div class="col-sm-offset-3">
    <%= render "users/shared/links" %>
  </div>
</div>
