<%= render "admin/shared/header" %>
<div class="container">
	<%= link_to "Quản lý User", admin_users_path, class: "btn btn-primary" %>
	<%= link_to "Quản lý Sản Phầm", admin_products_path, class: "btn btn-primary" %>
	<%= link_to "Quản lý Danh mục", admin_categories_path, class: "btn btn-primary" %>	
</div>