<div class="container">
	<div class="header-top pull-left">
		<div class="logo pull-left">
			1
		</div> <!-- end logo -->
		
		<div class="pull-left">
		   <div class="btn-group" role="group" aria-label="Third group">
		      <a href="#" class="btn btn-default nemo">&nbsp DU LỊCH &nbsp</a>
		   </div>							     
		</div><!-- end DU LICH -->
		
		<div class="pull-right">
		   <div class="btn-group" role="group" aria-label="Third group">
		      <a href="#" class="btn btn-default nemo"> &nbsp NEMO &nbsp
		      </a>
		   </div>							     
		</div><!-- end Nemo -->		
	</div>

	<div class="dropdown pull-right">
		<button class="btn btn-default dropdown-toggle noborder-radius header-top-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<strong class="text-primary">
			<i class="glyphicon glyphicon-map-marker"></i>
			Hà Nội&nbsp
		</strong>
		<span class="caret"></span>
		</button>
		
		<ul class="dropdown-menu dropdown-menu-right nopadding dropdown-content nomargin noborder noborder-radius" aria-labelledby="dropdownMenu1">
			<li>Mời bạn chọn tỉnh thành</li>
		   	<li>
		   		<a href="#">
			   		<i class="glyphicon glyphicon-map-marker"></i>
			   		TP HỒ CHÍ MINH
		   		</a>
		   	</li>
		   	<li>
		   		<a href="#">
			   		<i class="glyphicon glyphicon-map-marker"></i>
			   		ĐÀ NẴNG
		   		</a>
		   	</li>
		   	<li>
		   		<a href="#">
			   		<i class="glyphicon glyphicon-map-marker"></i>
			   		HẢI PHÒNG
		   		</a>
		   	</li>
		   	<!-- <li role="separator" class="divider"></li> -->
		   	<li>
		   		<a href="#">
			   		<i class="glyphicon glyphicon-map-marker"></i>
			   		NGHỆ AN
		   		</a>
		   	</li>							   
		</ul>
	</div><!-- end button HANOI -->
		
	<div class="dropdown pull-right">
		<button class="btn btn-default dropdown-toggle noborder-radius header-top-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<i class="glyphicon glyphicon-home"></i>
			Cửa hàng&nbsp
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right dropdown-content nomargin noborder noborder-radius" aria-labelledby="dropdownMenu1" style="width: 980px; padding: 5px;">
			
			<li><a href="#">Hệ thống cửa hàng Muachung</a></li>
			<li role="separator" class="divider"></li>
			<li>
				<div class="row">
					<div class="col-md-5">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
					<div class="col-md-7">
						<ul>
							<li>Bạn chưa rõ đường? Đã có ảnh bản đồ giúp bạn!</li>
							<li>
								<img class="img-responsive" src="https://muachungcdn.com/thumb_w/600,80/map/2017/03/06/0.122873001488788596.jpg">
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div> <!-- end button CUA HANG -->	
	
</div>


<div class="container-fluid header2">
	<div class="container">
		
		<div class="pull-left margin-top-header">
			<div class="pull-left">
				<img class="" src="" width="170px" height="44px">
			</div>
		</div><!-- end logo -->

		<div class="pull-left  margin-top-header">
			<div class="input-group  search-form-center margin-right-20">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div><!-- end search form -->

		<div class="pull-left">
			
				<div class="pull-left margin-top-header margin-right-20">						
					<i class="glyphicon glyphicon-heart-empty pull-left" style="font-size: 30px;"></i>
					<div class="pull-left">
						<span class="label label-info">0</span>
						<p> <small>Yêu thích</small></p>
					</div>						
				</div><!-- end Yeuthich -->
					<div class="pull-left margin-top-header margin-right-20">						
				<form action="/cart/add_to_cart" data-remote="true" >
					<button type="submit" id="ajax_cart_btn1" class="btn1 btn-default1 nopadding noborder" data-toggle="modal" style="background: blue;">
						<i class="glyphicon glyphicon-shopping-cart pull-left" style="font-size: 30px;"></i>
						<div class="pull-left">
							<span class="label label-warning">0</span>
						</div>	
					</button>					
				</form>
					</div><!-- end giohang -->

				
				<div class="dropdown nopadding pull-right login-dropdown">
					<button class="btn btn-default dropdown-toggle noborder-radius  login-button noborder" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  style="color: white;">
					<i class="glyphicon glyphicon-user pull-left" style="font-size: 28px;  margin-right: 5px; margin-top: 4px;"></i>
					<div class="pull-left">
						Đăng nhập
						<span class="caret"></span>
						<br>
						<p><small class="pull-left">Đăng ký</small></p>						
					</div>
					</button>
					<ul class="dropdown-menu dropdown-content noborder-radius nomargin dropdown-login-content" aria-labelledby="dropdownMenu1">
						<li><strong class="text-muted">Chào mừng bạn đến Muachung!</strong></li>
						<li>
							<%= link_to "Đăng nhập", user_session_path, :class => "btn btn-warning" %>
						</li>
						<li><span class="text-muted">Hoặc đăng nhập bằng:</span></li>
						<li>
							<ul class="list-inline">									
								<a href="" class="well noborder-radius  nopadding col-md-5 ">
									<i class="btn btn-primary noborder-radius" style="width: 32px;">F</i>
								</a>

								<a href="" class="well noborder-radius  nopadding col-md-5 col-md-offset-2">
									<i class="btn btn-danger noborder-radius" style="width: 32px;">g</i>
								</a>
							</ul>
						</li>
						<li class="clearfix"></li>
						<li role="separator" class="divider"></li>
						<li><span class="text-muted">Bạn chưa có tài khoản?</span></li>
						<li>
							<%= link_to "Đăng ký", new_user_registration_path, :class => "btn btn-primary" %>
						</li>
					</ul>
				</div><!-- end login -->
			
		</div>
		
	</div>
</div>

<div class="container">
	<div class="pull-left cate  header3">
		<span class="glyphicon glyphicon-th-list"> DANH MỤC</span>
	</div>
	<div class="pull-left  header3">
		<ul class="list-inline">
			<li>
				<i class="glyphicon glyphicon-star"></i>
				<a href="#">Dial mới nhất</a>
			</li>
			<li>
				<span>|</span>
				<i class="glyphicon glyphicon-usd"></i>
				<a href="#">Dial bán chạy nhất</a>
			</li>
		</ul>
	</div>

	<div class="pull-right">

		<div class="dropdown">				
			<button class="btn btn-default dropdown-toggle noborder header3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			CSKH: (04) 73068386
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-cskh dropdown-content nomargin" aria-labelledby="dropdownMenu1">					
				<li>
					<i class="glyphicon glyphicon-envelope pull-left">Email: </i>
					<div class="">
						<a class="pull-left" href="#">minhlamtran04@gmail.com</a>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<i class="glyphicon glyphicon-time pull-left"></i>
					<div class="pull-left">
						Giờ làm việc: T2 - T6: 8h - 18h /
						Giờ làm việc: T7: 8h - 12h							
					</div>
					<div class="clearfix"></div>
				</li>
				<li role="separator" class="divider"></li>
				<li>
					Hỗ trợ ngoài giờ khi không dùng được dịch vụ
					<h4>01628381728</h4>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End header -->