<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog  modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div id="cart_ajax"></div>

			
			<div class="clearfix"></div>
			<div class="modal-footer">
				<div class="pull-left">
					<%= link_to root_path do %>
						<i class="glyphicon glyphicon-triangle-left"></i>
						<span class="h4">Tiếp tục mua hàng</span>
					<%end%>

				</div>
				<div class="pull-right">
					<a type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="width: 100%; margin-top: 10px; background: #FFD54F;">
						<span class="text-center">Tiến hành đặt hàng</span>
						<i class="glyphicon glyphicon-menu-right"></i>
					</a>
				</div>
				<div class="clearfix"></div>
				<small class="text-muted pull-left">*Bạn có thể bỏ nhiều sản phẩm vào giỏ hàng và thanh toán trong 1 lần duy nhất</small>
			</div>
		</div>
	</div>
</div>