<div class="content container-fluid">
	<div class="container">
		<div class="">
			<div class="btn-group-vertical pull-left" style="width: 230px;">
				<% @categories_lv1.each do |category| %>
						<div class="btn btn-default text-left">
						<%= link_to category_path(category) do %>
							<i class="glyphicon glyphicon-film pull-left">&nbsp</i>
							<p class="text-left nomargin"><%= category.name %></p>
						<% end %>
						</div>
				<% end %>
				
			</div>

			<div class="panel panel-default pull-left noborder-radius" style="width: 910px; height: 420px;">
				<div class="panel-body">

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					   <!-- Indicators -->
					   <ol class="carousel-indicators">
					      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					      <li data-target="#myCarousel" data-slide-to="1"></li>
					      <li data-target="#myCarousel" data-slide-to="2"></li>
					      <li data-target="#myCarousel" data-slide-to="3"></li>
					   </ol>
					   <!-- Wrapper for slides -->
					   <div class="carousel-inner" role="listbox" style="height: 420px;">
					      <div class="item active">
					      	<div class="pull-left">
						        <img src="https://muachungcdn.com/thumb_w/550,80/dealx2/bsmfb.jpg" alt="Chania">				      		
					      	</div>

					      	<div class="pull-left" style="margin-left: 20px;">
					      		<img src="https://muachungcdn.com/thumb_w/250,80/i:product/172/3/j0ha9/2-suat-com-nieu-ga-nam-do-uong-de-nhat-ha-thanh.jpg" alt="Chania">
					      	</div>
					      </div>

					      <div class="item">
					    	<div class="pull-left">
						        <img src="https://muachungcdn.com/thumb_w/550,80/product/thumbnail/2017/03/13/jdqa4.jpg" alt="Chania">				      		
					      	</div>

					      	<div class="pull-left" style="margin-left: 20px;">
					      		<img src="https://muachungcdn.com/thumb_w/250,80/i:product/172/3/j0ha9/2-suat-com-nieu-ga-nam-do-uong-de-nhat-ha-thanh.jpg" alt="Chania">
					      	</div>
					      </div>

					      <div class="item">
					    	<div class="pull-left">
						        <img src="https://muachungcdn.com/thumb_w/550,80/dealx2/f5vhx.jpg" alt="Flower" alt="Chania">				      		
					      	</div>

					      	<div class="pull-left" style="margin-left: 20px;">
					      		<img src="https://muachungcdn.com/thumb_w/250,80/i:product/172/3/j0ha9/2-suat-com-nieu-ga-nam-do-uong-de-nhat-ha-thanh.jpg" alt="Chania">
					      	</div>
					      </div>

					      <div class="item">
					    	<div class="pull-left">
						        <img src="https://muachungcdn.com/thumb_w/550,80/product/thumbnail/2017/03/28/asw39.jpg" alt="Chania">				      		
					      	</div>

					      	<div class="pull-left" style="margin-left: 20px;">
					      		<img src="https://muachungcdn.com/thumb_w/250,80/i:product/172/3/j0ha9/2-suat-com-nieu-ga-nam-do-uong-de-nhat-ha-thanh.jpg" alt="Chania">
					      	</div>

					   </div>
					   <!-- Left and right controls -->
					   
					   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="width: 30px; background: white;">
						   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: black;"></span>
						   <span class="sr-only">Next</span>
					   </a>
					</div>


				</div>
			</div><!-- end slideshow -->
		</div>
		<div class="clearfix"></div>

		<div class="panel panel-primary noborder-radius">
			<div class="panel-heading">
				<h3 class="panel-title">Gợi ý dựa trên các deals bạn đã xem</h3> 
			</div> 
			<div class="panel-body nopadding">
				<div id="myCarousel1" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>	
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>								
							</ul>
						</div>

						<div class="item content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>		
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>							
							</ul>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="left btn btn-default button-left" href="#myCarousel1" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="right btn btn-default button-right" href="#myCarousel1" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div> 
		</div><!-- end panel1 -->
	
		<div class="panel panel-primary noborder-radius">

			<div class="panel-heading">
				<h3 class="panel-title">Hàng nhập khẩu</h3> 
			</div> 
			<div class="panel-body">

				<!-- tabs left -->
				<div class="tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li><a href="#a" data-toggle="tab">Gian hàng Hàn Quốc</a></li>
						<li class="active"><a href="#b" data-toggle="tab">Gian hàng Thái Lan</a></li>
						<li><a href="#c" data-toggle="tab">Gian hàng Nhật Bản</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="a">
							<div id="myCarousel5" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner tab-carousel-inner" role="listbox">
									<div class="item active">
										<ul class="list-inline">
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>	
										</ul>
									</div>

									<div class="item content-panel">
										<ul class="list-inline">
											
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
											<li class="margin-left-right-20">
												<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
												<div class="lead text-muted">thong tin sp</div>
												<div class="">gia</div>						
											</li>
																
										</ul>
									</div>
								</div>
								<!-- Left and right controls -->
								<a class="left btn btn-default button-left-tab" href="#myCarousel5" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
								</a>
								<a class="right btn btn-default button-right-tab" href="#myCarousel5" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>							
						</div>

						<div class="tab-pane" id="b">
						2
						</div>

						<div class="tab-pane" id="c">
						3
						</div>
					</div>
				</div>
				<!-- /tabs -->

			</div> 
		</div><!-- end panel2 -->

		<div class="">
			<div class="btn-group pull-left margin-right-20 container-btn-content" role="group" aria-label="Third group">
				<a href="#" class="btn btn-default noborder-radius button-content">Nổi bật nhất
					<i class="glyphicon glyphicon-arrow-down"></i>
				</a>
			</div>
			<div class="btn-group pull-left margin-right-20 container-btn-content" role="group" aria-label="Third group">
				<a href="#" class="btn btn-default noborder-radius button-content">Bán chạy nhất
					<i class="glyphicon glyphicon-arrow-down"></i>
				</a>
			</div>
			<div class="btn-group pull-left menu-content container-btn-content" role="group" aria-label="Third group">
				<a href="#" class="btn btn-default noborder-radius button-content">Mới nhất
					<i class="glyphicon glyphicon-arrow-down"></i>
				</a>
			</div>	
			
			<div class="pull-right">Có tất cả 55 dials được tìm thấy!</div>
		</div>
		<div class="clearfix"></div><br>

		<div class="row">
			<!-- product banner -->
		<% @products.each do |products_group| %>
				
			<% products_group.each_with_index do |product, index| %>
			<div class="<%= index==4 ? 'col-md-6' : 'col-md-3' %>">
				<%#= product.try("id") %>
				<%= link_to product_path(product) do %>
				<div class="thumbnail noborder-radius">
					<%= image_tag product.images_url, :class => "img-thumnail" %>
					<div class="caption">
				    	<h3 class="nomargin"><small><%#= product.name %></small></h3>
				    	<code><%= price_now(product.price, product.sale_off, product.sale_off_type) %></code> <del class="text-muted"><%= money_format(product.price) unless product.sale_off_type == "(none)" %></del>
				    	<div class="">
				      		<!-- <i class=""></i> -->
				      		<!-- <span>|</span> -->
				      		<small class="text-muted"><%= product.sold %> đã mua</small>
				      		<i class="glyphicon glyphicon-circle-arrow-right pull-right"></i>
				    	</div>
					</div>
					<% unless product.sale_off_type == "(none)" %>
					<i class="glyphicon glyphicon-certificate glyphicon-certificate-sm"></i>
					<span class="sale-off-val">
						<%= "-" + product.sale_off.to_s + product.sale_off_type.to_s %>
					</span>
					<% end %>
				</div>
				<% end %>

			</div>
			<% end %>
			<div class="clearfix"></div>
			<div class="row">
				<div class="container">
					<image src="https://muachungcdn.com/thumb_w/1150,80/banner/zzr9p.jpg" class="img-responsive"></image>					
				</div>
			</div>

		<% end %>
			<!-- End product banner  -->
			

			<div class="clearfix">&nbsp</div>

			

			<!-- <div class="clearfix"></div> -->					
		</div>

		<div class="panel panel-primary noborder-radius">
			<div class="panel-heading">
				<h3 class="panel-title">Deals du lịch giá tốt</h3> 
			</div> 
			<div class="panel-body nopadding">
				<div id="myCarousel3" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>	
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>								
							</ul>
						</div>

						<div class="item content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>		
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>							
							</ul>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="left btn btn-default button-left" href="#myCarousel1" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="right btn btn-default button-right" href="#myCarousel3" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div> 
		</div><!-- end panel1 -->		

		<div class="panel panel-primary noborder-radius">
			<div class="panel-heading">
				<h3 class="panel-title">Sản phẩm nổi bật</h3> 
			</div> 
			<div class="panel-body nopadding">
				<div id="myCarousel2" class="carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>	
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>								
							</ul>
						</div>

						<div class="item content-panel">
							<ul class="list-inline">
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>		
								<li class="margin-left-right-20">
									<img src="https://muachungcdn.com/thumb_w/220,80/product/173/10/hyd7l.jpg" alt="Chania" width="140px" height="140px">
									<div class="lead text-muted">thong tin sp</div>
									<div class="">gia</div>						
								</li>							
							</ul>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="left btn btn-default button-left" href="#myCarousel2" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="right btn btn-default button-right" href="#myCarousel1" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div> 
		</div><!-- end panel1 -->

		<div class="panel panel-default noborder-radius">
		  <div class="panel-body">
		    Có thể bạn quan tâm
		  </div>
		</div>

	</div>
</div><!-- End content -->






<script type="text/javascript">
	$('#example').popover()
</script>



