= render "admin/shared/header"
.container	
	= form_for :category, html: {class: "form-horizontal"}, url: admin_category_path, method: :patch do |f|
		.form-group
			= f.label :name, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :name, :class => "form-control", :placeholder => "Enter category name"

		.form-group
			= f.label "Select category parent", :class => "control-label col-sm-2"
			.col-sm-10
				%select{ :name => 'category[parent_id]' }	
					- if @category.parent_id == 0
						%option{ :value => 0 } (none)

					- if @categories_parent.respond_to?("each")
						- @categories_parent.each do |category_parent|			
							%option{ :value => category_parent.id }= "#{category_parent.name}"

					- unless @category.parent_id == 0
						%option{ :value => 0 } (none)
					
					
		.form-group
			= f.label :description, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :description, :class => "form-control", :placeholder => "Enter description"
		.form-group
			= f.label :status, :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :status, "inactive", :checked => @category.status == "inactive"
					Inactive
						
				%label.radio-inline
					= f.radio_button :status, "active", :checked => @category.status == "active"
					Active

				%label.radio-inline
					= f.radio_button :status, "pending", :checked => @category.status == "pending"
					Pending					
			
				%label.radio-inline
					= f.radio_button :status, "banned", :checked => @category.status == "banned"
					Banned

		.form-group
			= f.label "Select Order", :class => "control-label col-sm-2"
			.col-sm-10
				%select{ :name => 'category[order]' }
					%option{ :value => @category.order }= "#{@category.order}"
					- 20.times do
						%option{ :value => "#{@i+=1}" }= "#{@i}"
							
		.form-group
			.col-sm-offset-2.col-sm-2
				= f.submit "Save change", :class => "btn btn-default"		
			.col-sm-6
				= link_to "Cancel", admin_categories_path, :class => "btn btn-default"