= render "admin/shared/header"
.container
	%h1 Category#index

	.row
		.col-sm-1
			ID
		.col-sm-2
			Name	
		.col-sm-2
			Category parent
		.col-sm-1
			Order
		.col-sm-1
			Status	
		.col-sm-3 
			Description
		.col-sm-2
			= link_to "Add new category", new_admin_category_path

		- @categories.each do |category|
			.row
				.col-sm-1
					= category.id
				.col-sm-2
					= category.name
				.col-sm-2
					= show_category_parent(category.parent_id)
				.col-sm-1
					= category.order
				.col-sm-1
					= category.status
				.col-sm-3
					= category.description			
				.col-sm-2
					= link_to "Show", admin_category_path(category)
					= link_to "Edit", edit_admin_category_path(category)
					= link_to "Delete", admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"}
	= paginate @categories
	= link_to_next_page @categories, 'Next Page'
	%br
	= link_to "<< Dashboard", admin_dashboard_index_path