= render "admin/shared/header"
.container	
	= form_for :category, html: {class: "form-horizontal"}, url: admin_categories_path, method: :post do |f|
		.form-group
			= f.label :name, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :name, :class => "form-control", :placeholder => "Enter category name"

		.form-group
			= f.label "Select category parent", :class => "control-label col-sm-2"
			.col-sm-10
				%select{ :name => 'category[parent_id]' }	
					%option{ :value => 0 } (none)
					- @categories_parent.each do |category_parent|			
						%option{ :value => category_parent.id }= "#{category_parent.name}"
					
					
		.form-group
			= f.label :description, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :description, :class => "form-control", :placeholder => "Enter description"
		.form-group
			= f.label :status, :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :status, "inactive", :checked => true
					Inactive
						
				%label.radio-inline
					= f.radio_button :status, "active", :checked => false
					Active

				%label.radio-inline
					= f.radio_button :status, "pending", :checked => false
					Pending					
			
				%label.radio-inline
					= f.radio_button :status, "banned", :checked => false
					Banned

		.form-group
			= f.label "Select Order", :class => "control-label col-sm-2"
			.col-sm-10
				%select{ :name => 'category[order]' }
					- 20.times do
						%option{ :value => "#{@i+=1}" }= "#{@i}"
							
		.form-group
			.col-sm-offset-2.col-sm-1
				= f.submit "Create", :class => "btn btn-default"		
			.col-sm-9
				= link_to "Cancel", admin_users_path, :class => "btn btn-default"