= render "admin/shared/header"
.container
	.row
		.col-md-3
			ID
		.col-md-9
			= @category.id
	.row
		.col-md-3
			Name:
		.col-md-9
			= @category.name
	.row
		.col-md-3
			Category parent:
		.col-md-9
			= show_category_parent(@category.parent_id)
	.row
		.col-md-3
			Order:
		.col-md-9
			= @category.order
	.row
		.col-md-3
			Status:
		.col-md-9
			= @category.status
	.row
		.col-md-3
			Description:
		.col-md-9
			= @category.description
	.row
		.col-md-3
			Create by:
		.col-md-9
			= @category.user.try(:email)
	= link_to "Edit", edit_admin_category_path(@category)
	%br
	= link_to "Add new Category", new_admin_category_path
	%br
	= link_to "Back", admin_categories_path