= render "admin/shared/header"
.container-fluid
	%h1 Admin::Products#index
	.row
		.col-md-1
			ID
		.col-md-1
			Image
		.col-md-2
			Name
		.col-md-1
			Price
		.col-md-1
			Banner type
		.col-md-1
			Sale off 
		.col-md-1
			Sold/Total
		.col-md-1
			Status
		.col-md-1
			Category_id
		.col-md-2
			= link_to "Add new Product", new_admin_product_path

	- @products.each do |product|
		.row
			.col-md-1
				= product.id
			.col-md-1
				= image_tag product.images_url, size: "70x70"
			.col-md-2
				= product.name
			.col-md-1
				= money_format(product.price)
			.col-md-1
				= product.banner
			.col-md-1
				= product.sale_off.to_s + product.sale_off_type.to_s
			.col-md-1
				= product.sold.to_s + "/" + product.total.to_s			
			.col-md-1
				= product.status
			.col-md-1
				= show_category_parent(product.category_id)
			.col-md-2
				= link_to "Show", admin_product_path(product)
				%span 
					= "|"
				= link_to "Edit", edit_admin_product_path(product)
				%span 
					= "|"
				= link_to "Delete", admin_product_path(product), method: :delete, data: {confirm: "Are you sure?"}
	= paginate @products

	%br
	= link_to "<< Dashboard", admin_dashboard_index_path
