= render "admin/shared/header"
.container	
	= form_for :product, html: {class: "form-horizontal"}, url: admin_products_path, method: :post do |f|
		.form-group
			= f.label :name, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :name, :class => "form-control", :placeholder => "Enter product name"
			

		.form-group
			= f.label :images, :class => "control-label col-sm-2"
			.col-sm-10				
				= f.file_field :images, :class => "form-control"
		.form-group
			= f.label "Banner type", :class => "control-label col-sm-2"
			.col-sm-10				
				%label.radio-inline
					= f.radio_button :baner, "single", :checked => true
					single
						
				%label.radio-inline
					= f.radio_button :baner, "double", :checked => false
					double
			
		.form-group		
			= f.label :price, :class => "control-label col-sm-2"
			.col-sm-10 				
				= f.text_field :price, :class => "form-control", :placeholder => "Enter price"
			
		.form-group
			= f.label "Number of Total", :class => "control-label col-sm-2"
			.col-sm-10				
				= f.text_field :total, :class => "form-control", :placeholder => "Enter number of total"
			
		.form-group
			= f.label :category_id, :class => "control-label col-sm-2"
			.col-sm-10				
				%select{ :name => 'product[category_id]' }
					-if @categories_lv1.respond_to?("each")
						- @categories_lv1.each do |category_lv1|
							%option{ :value => category_lv1.id }= "#{category_lv1.name}"	
							- if find_categories_lv2(category_lv1.id).respond_to?("each")
								- find_categories_lv2(category_lv1.id).each do |category_lv2|			
									%option{ :value => category_lv2.id }= " => #{category_lv2.name}"
			

		.form-group			
			= f.label :sale_off, class: "control-label col-sm-2"
			.col-sm-10				
				= f.text_field :sale_off, :class => "form-control", placeholder: "Enter sale off value"

		.form-group
			= f.label "Sale off type", :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :sale_off_type, "(none)", :checked => true
					(None)
						
				%label.radio-inline
					= f.radio_button :sale_off_type, "%", :checked => false
					= "%"

				%label.radio-inline
					= f.radio_button :sale_off_type, "vnd", :checked => false
					vnd

		
		.form-group
			= f.label :description, :class => "control-label col-sm-2"
			.col-sm-10				
				= f.text_area :description, :class => "form-control"


		.form-group
			= f.label :status, :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :status, "inactive", :checked => true
					Inactive
						
				%label.radio-inline
					= f.radio_button :status, "active", :checked => false
					Active

				%label.radio-inline
					= f.radio_button :status, "pending", :checked => false
					Pending					
			
				%label.radio-inline
					= f.radio_button :status, "banned", :checked => false
					Banned
			
		.form-group
			.col-sm-offset-2.col-sm-2
				= f.submit "Create new Product", :class => "btn btn-default"
					
			.col-sm-8
				= link_to "Cancel", admin_products_path, :class => "btn btn-default"