= render "admin/shared/header"
.container	
	.pull-left
		= image_tag @product.images_url, :class => "img-rounded", size: "128x128"
	.pull-left
		.row
			.col-lg-offset-1.col-lg-4
				Name:
			.col-lg-6
				= @product.name

		.row
			.col-lg-offset-1.col-lg-4
				Price:
			.col-lg-6
				= money_format(@product.price)

		.row
			.col-lg-offset-1.col-lg-4
				Sale off:
			.col-lg-6
				= @product.sale_off.to_s + @product.sale_off_type.to_s

		.row
			.col-lg-offset-1.col-lg-4
				Created by:
			.col-lg-6
				= @product.user.try(:email)

		.row
			.col-lg-offset-1.col-lg-4
				Banner type:
			.col-lg-6
				= @product.banner

		.row
			.col-lg-offset-1.col-lg-4
				Create at:
			.col-lg-6
				= @product.created_at
		.row
			.col-lg-offset-1.col-lg-4
				Update at:
			.col-lg-6
				= @product.updated_at
		.row
			.col-lg-offset-1.col-lg-4
				Status:
			.col-lg-6
				= @product.status

	.clearfix
	= link_to "Add new Product", new_admin_product_path
	%br
	= link_to "Back", admin_products_path
