// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-wall{ 
  background: #f1f1f1;
}
.pink{
	background: pink;
}

.blue{
	background: #1780c3;
}

.white{
	background: white!important;
}

.nomargin{
	margin: 0px!important;
}

.nopadding{
	padding: 0px!important;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.noborder-radius{
  border-radius: 0px;
}

.noborder{
  border: none;
}

.margin-right-20{
  margin-right: 9.1px;
} 

.margin-left-right-20{
  margin-right: 23.8px;
  margin-left: 23.8px;
} 

.img-responsive{
  margin: 20px 0;
}




/* custom inclusion of left-tabs */
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left > .nav-tabs > li{
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

// css for header

.logo{
  height: 50px;
  width: 150px;
  background: blue;
  margin-right: 10px;
  border-radius: 3px;
}

.header-top{
  margin-top: 12px;
}

.nemo{
  width: 120px;
  height: 38px;
  margin-right: 10px;
  border-radius: 3px;
  background: #01b7f2;
}

.header-top-right{
  height: 62px;
  border-top: none;
  border-bottom: none;
}

.header2{
  background: blue;
  color: white!important;
}

.dropdown:hover{
  .dropdown-content {
      display: block;
  } 
}

.dropdown-login-content{
  width: 260px;
  padding: 10px;
}

.dropdown-menu-cskh{
  width: 300px;
  padding: 10px;
}
  

.site-name-slogan{
  width: 230px;
  height: auto;
  overflow: auto;
}

.search-form-center{
  margin-left: 60px;
  // margin-right: 20px;
  width: 610px;
}

.login-button{
  height: 82px;
  background: none;
}

.margin-top-header{
  margin-top: 22px;
}

.cate{
  width: 230px;
  height: 40px;
  background: #f7b300;
}

.header3{
  padding-top: 10px;
  padding-left: 15px;
}


// Css for content
.content-panel{
  width: 1000px;
  margin: 10px auto;
}
.button-content{
  background: #e0e0e0;
  // border: 1px solid #e0e0e0;
}
.container-btn-content :hover{
  background: #166ead;  
}
.container-btn-content:hover {
  .button-content{    
    color: white;
  }
}

.product-description{
  margin-left: 20px;
}
// css for panel
.panel-body{
  position: relative;
}
.button-left, .button-left-tab{
  position: absolute;
  left: 20px;
  top: 60px;
}
.button-right, .button-right-tab{
  position: absolute;
  right: 20px;
  top: 60px;
}
.button-left-tab{
  left: 13px;
}

.tab-pane{
  overflow: auto;
  position: relative;
}

.tab-carousel-inner{
  margin: 10px auto;
  width: 800px;
}

.product-name-div{
  height: 56px;
}
.panel-default-custom{
  margin-right: 15px;  
}
.panel-cutom{
  padding: 5px;
}

// banner
.img-thumnail{
  height: 243px; 
  width: 100%; 
  display: block;
}
.glyphicon-certificate-sm{
  color: #E53935;
  font-size: 55px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.sale-off-val{
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.thumbnail{
  position: relative;
  // box-shadow: 6px, 6px, 6px, green;
}
.glyphicon-circle-arrow-right{
  color: #FF9100;
  font-size: 30px;
}

code{
  background: none;
}

.thumbnail:hover{

  .glyphicon-circle-arrow-right{
    color: #FF5722;
  }
}

//slideshow in category/show
.carousel6{
  position: relative;
}

.carousel-indicators-custom{
  height: 30px; 
  width: 60px; 
  position: absolute;
  top: 10px;
  right: 100px!important; 
}

// button [Mua ngay]
#ajax_cart_btn{
  width: 100%; 
  margin-top: 10px; 
  background: #FFD54F;
}