= render "admin/shared/header"
.container	
	=form_for :user, html: {class: "form-horizontal"}, url: admin_user_path, method: :path do |f|
		.form-group
			= f.label :email, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :email, :class => "form-control", :placeholder => "Enter email"
					
		.form-group
			= f.label :fullname, :class => "control-label col-sm-2"
			.col-sm-10
				=f.text_field :fullname, :class => "form-control"

		.form-group
			= f.label :role, :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :role, "Member", :checked => @user.role == "Member"
					Member
						
				%label.radio-inline
					= f.radio_button :role, "Support", :checked => @user.role == "Support"
					Support
					
			
				%label.radio-inline
					= f.radio_button :role, "Admin", :checked => @user.role == "Admin"
					Admin
							
		.form-group
			.col-sm-offset-2.col-sm-2
				= f.submit "Save change", :class => "btn btn-default"

		
			.col-sm-6
				= link_to "Cancel", admin_users_path, :class => "btn btn-default"