= render "admin/shared/header"
.container
	%h1 User#index

	.row
		.col-sm-1
			ID
		.col-sm-2
			Fullname
		.col-sm-3
			Email
		.col-sm-3 
			Role
		.col-sm-3
			= link_to "Add new User", new_admin_user_path

		- @users.each do |user|
			.col-sm-1
				= user.id
			.col-sm-2
				= user.fullname
			.col-sm-3
				= user.email
			.col-sm-3 
				= user.role
			.col-sm-3
				= link_to "Show", admin_user_path(user)
				= link_to "Edit", edit_admin_user_path(user)
				= link_to "Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"}
	= paginate @users

	%br
	= link_to "<< Dashboard", admin_dashboard_index_path