= render "admin/shared/header"
.container	
	=form_for :user, html: {class: "form-horizontal"}, url: admin_users_path, method: :post do |f|
		.form-group
			= f.label :email, :class => "control-label col-sm-2"
			.col-sm-10
				= f.text_field :email, :class => "form-control", :placeholder => "Enter email"
					
		.form-group
			
			= f.label :password, :class => "control-label col-sm-2"
			.col-sm-10
				
				= f.password_field :password, :class => "form-control", :placeholder => "Enter password"

		.form-group
			
			=f.label :password_confirm, :class => "control-label col-sm-2"
			.col-sm-10
				
				= f.password_field :password_confirm, :class => "form-control", :placeholder => "Enter password"

		.form-group
			= f.label :fullname, :class => "control-label col-sm-2"
			.col-sm-10
				=f.text_field :fullname, :class => "form-control"

		.form-group
			= f.label :role, :class => "control-label col-sm-2"
			.col-sm-10
				
				%label.radio-inline
					= f.radio_button :role, "Member", :checked => true
					Member
						
				%label.radio-inline
					= f.radio_button :role, "Support", :checked => false
					Support
					
			
				%label.radio-inline
					= f.radio_button :role, "Admin", :checked => false
					Admin
							
		.form-group
			.col-sm-offset-2.col-sm-10
				= f.submit :submit, :class => "btn btn-default"
	