= render "admin/shared/header"
.container
	.row
		.col-md-3
			Email:
		.col-md-9
			= @user.email
		.col-md-3
			Fullname:
		.col-md-9
			= @user.fullname.capitalize
		.col-md-3
			Role:
		.col-md-9
			= @user.role
	= link_to "Add new User", new_admin_user_path
	%br
	= link_to "Back", admin_users_path