
<div class="container-fluid">
	
		<img src="https://muachungcdn.com/thumb_w/1150,80/banner/7muwu.jpg" class="img-responsive" alt="Image" width="1280">
	

	<div class="panel panel-default noborder-radius">
		<div class="panel-body panel-cutom">
			<%= link_to "Trang chủ", root_path, :class => "text-muted" %>
		  	<i> >> </i>
		  	<%= link_to @product.category.name, category_path(@product.category), :class => "text-muted" %>
		</div>
	</div>

	<div class="image-product-list pull-left">
		<div class="media">
			<div class="media-left media-top">
				<img src="#" class="media-object" style="width:40px">
			</div>
		</div>
		<div class="media">
			<div class="media-left media-middle">
				<img src="#" class="media-object" style="width:40px">
			</div>
		</div>
		<div class="media">
			<div class="media-left media-bottom">
				<img src="#" class="media-object" style="width:40px">
			</div>
		</div>		
	</div>

	<div class="image-product pull-left text-center" style="width: 460px;">
		
		<%= image_tag @product.images_url, :class => "img-responsive nomargin" %>
		<div class="well panel-cutom noborder-radius noborder">
			<i class="glyphicon glyphicon-search text-muted"> Bấm vào để xem ảnh lớn</i>
		</div>
		<div class="btn btn-default">
			<i class="glyphicon glyphicon-heart-empty"></i>
			<span class="text-muted"> Yêu thích</span>
		</div>
	</div>

	<div class="pull-left product-description" style="width: 488px;">
		<h3 class="nomargin"><%= @product.name %></h3>
		<small>Mã sp: <%= @product.id %> --- <%= @product.sold %> đã mua</small>
		<ul class="list-inline">
			<li><a href="">Hỏi đáp/bình luận</a></li>
			<li><a href="">Mô tả chi tiết</a></li>
			<li><a href="">Đánh giá</a></li>
		</ul>
		<hr class="nomargin">
		
		<% if @product.sale_off_type != "(none)" %>
			<small class="text-muted">Giá tham chiếu </small>
			<del class="text-muted">
				<%= money_format(@product.price) %>
			</del><br>
		<% end %>

		<small class="text-muted">Giá bán</small> 
		<span class="text-danger h4">
			<strong>
				<%= price_now = price_now(@product.price, @product.sale_off, @product.sale_off_type) %>
				<%= " (-" + @product.sale_off.to_s + @product.sale_off_type.to_s + ")" if @product.sale_off_type != "(none)" %>
			</strong>
		</span> 

		<% if @product.sale_off_type != "(none)" %>
			<small class="text-muted">(tiết kiệm <%= sale_off_value(@product.price, @product.sale_off, @product.sale_off_type) %>)</small>
			<hr class="nomargin"></hr>
		<% end %>
		
		<br>
		Nổi bật
		<ul>
			<li>Liệu trình lăn kim Titan thế hệ mới đặc trị tận gốc các vấn đề về da: sẹo rỗ, thâm, nám,...</li>
			<li>Sử dụng công nghệ lăn kim vi điểm kết hợp bổ sung dưỡng chất phôi thai thẩm thấu sâu giúp da khỏe mạnh từ bên trong, xóa vết thâm do mụn, sẹo rỗ và trẻ hóa da, se khít lỗ chân lông.</li>
			<li>Thao tác lăn kim liên tục sẽ giúp kích thích sản sinh collagen và elastin làm sạch tận gốc các hắc sắc tố bên dưới da.</li>
		</ul>

		Địa điểm & điều kiện
		<ul>
			<li>Tại 4 địa điểm.</li>
			<li>Chi tiết địa điểm sử dụng</li>
			<li>Hạn sử dụng : 13/06/2017</li>
			<li>Khách hàng được mua nhiều phiếu. Áp dụng 1 phiếu/1 lần làm.</li>
		</ul>
		
	</div>

	<div class="pull-right" style="width: 230px;">
		
		<div class="panel panel-default">
			<div class="panel-body">
		  		<strong>Giao phiếu điện tử trong 24h</strong>
		  		<p class=" text-center">Đổi trả trước HSD</p>
				
					<form action="/cart/add_to_cart" data-remote="true">
				
						<div class="form-group">
							<div class="col-sm-7 text-right text-muted" style="margin-top: 3px;">
								Số lượng
							</div>
							<div class="col-sm-5">
								<!-- <select class="form-control nopadding" id="exampleSelect1" name="quantity">
									<option name="quantity">1</option>
									<option name="quantity">2</option>
									<option name="quantity">3</option>
									<option name="quantity">4</option>
									<option name="quantity">5</option>

								</select> -->
								<%= select_tag "quantity", options_for_select((1..25).to_a), :class => "form-control nopadding" %>						
							</div>
						</div>
						<div class="form-group nomargin">
							<input type="hidden" name="id" value="<%= @product.id %>">
							<%#= hidden_field_tag "id",value= "#{@product.id}", :class => "id_hidden" %>
							<button type="submit" id="ajax_cart_btn" class="btn btn-default" data-toggle="modal" >

								<i class="glyphicon glyphicon-shopping-cart pull-left"></i>
								<span class="text-center">Mua Ngay</span>
							</button>

							<%#= button_tag type: "submit", :data => {:toggle => "modal", :target => "#myModal" }, :id => "ajax_cart_btn", class: "btn btn-default" do %>
							    <!-- <i class="glyphicon glyphicon-shopping-cart pull-left"></i>
								<span class="text-center">Mua Ngay</span> -->
							<%# end %>
						</div>
					</form>
					
					<div> <%= session["cart"] if !session["cart"].nil? %> </div>
					
				<small class="text-muted">Đặt mua online, giao phiếu tận nơi</small>
				<ul class="" style="padding-left: 5px; width: 100%;">
					<li>
						<span class="">VP Cầu Giấy</span>
						<span class="pull-right text-success">Còn bán</span>
					</li>
					<li>
						<span class="">VP Cầu Giấy</span>
						<span class="pull-right text-success">Còn bán</span>
					</li>
					<li>
						<span class="">VP Cầu Giấy</span>
						<span class="pull-right text-success">Còn bán</span>
					</li>
					<li>
						<span class="">VP Cầu Giấy</span>
						<span class="pull-right text-success">Còn bán</span>
					</li>
				</ul>			
			</div>
			
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<small>Quý khách muốn đặt qua điện thoại</small><br>
				<div class="text-center">
					<i class="glyphicon glyphicon-earphone	"></i>
					<strong class="h4"> (04) 73068386</strong>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid">
	
</div>

<div class="container-fluid">
	
</div>




