<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js", 'data-turbolinks-track' => true  %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "shared/header" %>

	<%= flash[:error] %>
	<%= flash[:notice] %>
	<%= yield %>
	
	<%= render "shared/footer" %>
</body>
</html>
