<div class="container">
  <h2 class="col-sm-offset-2">Sign up </h2>

  <%= form_for(resource, as: resource_name, html: {class: "form-horizontal"}, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">      
      <%= f.label :email, class: "control-label col-sm-2 col-sm-offset-2" %>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">      
      <%= f.label :fullname, class: "control-label col-sm-2 col-sm-offset-2" %>
      <div class="col-sm-4">
       <%= f.text_field :fullname, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group nomargin">
      <div class="col-sm-4 col-sm-offset-4  nopadding">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-2 col-sm-offset-2" %>
      <div class="col-sm-4"> 
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label col-sm-2 col-sm-offset-2" %>
      <div class="col-sm-4"> 
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    </div>
    
  <% end %>
  <div class="col-sm-offset-2">
    <%= render "users/shared/links" %>
  </div>
</div>
